{% extends "base.html" %}
{% load static i18n %}{% load thumbnail %}{% load tz %}

{% block content %}
    <div class="container-fluid">
        <h2>Partners</h2>
        <div class="table-responsive table-hover">
            <table class="table " id="mytable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th class="hidden-xs-down">Created By</th>
                    <th class=" hidden-xs-down">Created On</th>
                </tr>
                </thead>
                <tbody>
                {% for message in message_list %}
                    <tr>
                        <td data-sort="{{ message.name }}">
                            <div class="media">
                                <div class="col-md-2 col-sm-4 col-xs-4 ">
                                    <a href="{{ message.get_absolute_url }}">
                                        {{ message.name|title }}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="">{{ message.subject }}</td>
                        <td class="">{{ message.status |title }}</td>
                        <td class="">{{ message.created_by }}</td>
                        <td class="">{{ message.created_on| date:"m/d/y" }}:{{ message.created_on |time:"H:i T" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a class="btn btn-primary"
           href="{% url 'messages:new' %}">Add New</a>
    </div>

{% endblock content %}
{% block javascript %}
    {{ block.super }}
    {% include 'includes/datatables_js.html' %}

    <script type="application/javascript">

        $(document).ready(function () {
            $('#mytable').DataTable({
                responsive: true,
                order: [],
            });
        });
    </script>
{% endblock javascript %}