{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ message.name }}{% endblock %}

{% block content %}
  <h1>{{ message.name }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'messages:edit' pk=message.pk %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button class="btn">Update</button>
          <a class="btn btn-primary" href="{% url 'messages:view' pk=message.pk %}" role="button">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
