{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">


            <h4>Add Contact</h4>
        <form class="form-horizontal" method="post"
                action="{% url 'contacts:new' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button class="button is-primary">Update</button>
                  <a class="btn btn-secondary"
                     href="{{ cancel_url }}">Cancel</a>
              </div>
            </div>
          </form>

        <a href="{% url "contacts:list" %}">back to list</a>
    </div>
{% endblock content %}
