{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">

            <h4 title="">Add Partner Contact</h4>
        <form class="form" method="post"
                action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button class="button is-primary">Update</button>
                  <a class="button is-secondary"
                     href="{{ cancel_url }}">Cancel</a>
              </div>
            </div>
          </form>

    </div>
{% endblock content %}
