{% extends "base.html" %}
{% load static i18n %}{% load thumbnail %}{% load tz %}

{% block content %}

    <div class="container-fluid">
        <h2>Checklists</h2>
        <div class="table-responsive table-hover">
            <table class="table " id="mytable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Checklist Name</th>
                    <th>Client</th>
                    <th>Used By</th>
                    <th>Status</th>
                    <th class="hidden-xs-down">Parent</th>
                    <th class="hidden-xs-down">Created</th>
                </tr>
                </thead>
                <tbody>
                {% for checklist in checklist_list %}
                    <tr>
                        <td data-sort="{{ checklist.title }}">
                            <div class="media">
                                <div class="col-md-2 col-sm-4 col-xs-4 ">
                                    <a href="{{ checklist.get_absolute_url }}">
                                        {{ checklist.title|title }}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>{{ checklist.is_client }}</td>
                        <td class="">{{ checklist.client }}</td>
                        <td class="">{{ checklist.status |title }}</td>
                        <td class="">{{ checklist.parent }}</td>
                        <td class="">{{ checklist.created_on }}</td>
                        <td class="">{{ checklist.created_on| date:"m/d/y" }}:{{ checklist.created_on |time:"H:i T" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a class="btn btn-primary"
           href="{% url 'checklists:new' %}">Add New</a>
    </div>

{% endblock content %}
{% block javascript %}
    {{ block.super }}
    {% include 'includes/datatables_js.html' %}

    <script type="application/javascript">

        $(document).ready(function () {
            $('#mytable').DataTable({
                responsive: true,
                order: [],
            });
        });
    </script>
{% endblock javascript %}