{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Task{% endblock %}

{% block content %}
  <h1>Create Task</h1>
  <form class="form-horizontal" method="post" action="{% url 'tasks:new' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary">Update</button>
          <a class="btn btn-secondary" href="{% url 'tasks:list' %}" role="button">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
