{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Loc: {{ locationaddress.location.name }} {{ locationaddress.loc_id }} {% endblock %}

{% block content %}

    <div class="container">

            <h1>Edit Address</h1>
        <form class="form-horizontal" method="post"
                action="{% url 'locations:address-edit' pk=locationaddress.id  %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button class="btn">Update</button>
                  <a class="btn btn-primary"
                     href="{% url 'locations:view' pk=locationaddress.location.pk %}" >Cancel</a>
              </div>
            </div>
          </form>
    </div>
{% endblock content %}
